$breakpoint: 768px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  color: white !important;
  background-color: #2C394B !important;
}
.ant-typography {
  color: white !important;
}

.text-center {
  text-align: center !important;
}

.d-flex {
  display: flex !important;

  .a-i_center {
    align-items: center !important;
  }
  .j-i_center {
    justify-items: center !important;
  }
  .j-i_flex-end {
    justify-items: flex-end !important;
  }
}

.movie-list-wrapper {
  padding-top: 30px;
  min-height: 100vh;

  .centered-div {
    margin: -30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .movie-result-wrapper {
    min-height: 90vh;
  }

  .movie-card {
    .movie-poster {
      width: 100%;
      height: 166px;
      object-fit: cover;

      &:hover {
        cursor: pointer;
        box-shadow: 5px 5px 10px rgba(48, 56, 65, 0.2);
      }
    }
    .movie-card_information {
      text-align: center;
      display: flex;
      align-items: center;

      .movie-title {
        font-weight: bold;

        @media screen and (max-width: $breakpoint) {
          font-size: 18px;
        }
        @media screen and (min-width: $breakpoint) {
          font-size: 24;
        }
      }
    }
  }

  .movie-list-footer {
    min-height: 300px;
    margin-top: 30px;
    background-color: #082032;
  }
}

// override
.ant-modal-content {
  text-align: center;
  background: transparent !important;
  box-shadow: none !important;
}
.ant-modal-body {
  padding: 0 !important;
}

